body {background: lighten($color4, 10%);}

button {
  padding: 0;
  border: none;
  background: none;
}

.App {
  @include flexCenter();
  flex-direction: column;
  text-align: center;

  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.charCreation {
  @include flexCenter();
  flex-direction: column;
  position: relative;
  
  width: 100%;
  padding: 30px; 
  border: 2px solid $color3;
  border-radius: 0 2em;
  margin-top: 20px;

  background: $white;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 0px $color3;
}

.grass {
  position: absolute;
  top: 45%;
  left: 1.5%;
  
  height: 30px;
  width: 97%;
  border-bottom:2px solid darken(#bef175, 20%);

  background: linear-gradient(115deg, #afe06a 0, transparent 0%, transparent 76%, #afe06a 0%),
              linear-gradient(-115deg, transparent 33%, transparent 0%, transparent 76%, #afe06a 0%);
  background-size: 30px 30px;
  background-repeat: repeat-X;
  background-position: bottom;

  &::before {
    @include pseudo;
    background: linear-gradient(125deg, #bef175 0, transparent 0%, transparent 66%, #bef175 0%), 
                linear-gradient(-125deg, transparent 33%, transparent 0%, transparent 66%, #bef175 0%);
    background-size: 20px 20px;
    background-repeat: repeat-X;
    background-position: bottom;

    animation-name: grass;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forward;
  }
}

form {
  margin: 20px;
  margin-bottom: 40px;
}

@keyframes grass {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    width: calc(100% - 3px);
    transform-origin: bottom;
    transform: translateX(5px) scaleY(0.9);
  }
}