$widthScaling: 0.7;
$heightScaling: 1.3;

.character {
	position: relative;
	margin: auto;
	height: 200px * $heightScaling;
  width: 200px * $widthScaling;
  transform: translateZ(1px);
}
// head start
%head {
	position: absolute;
  top: 25%;
  left: 50%;
	height: 80% * $widthScaling;
  width: 60% * $heightScaling;
  border: 1px solid $black;
	border-radius: 40% 40% 50% 50%;
  background: tan;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  // shoes:
  &::before,
  &::after {
    @include pseudo;
    top: 122%;
    left: 22%;
    height: 9%;
    width: 28%;

    border: 1px solid $black;
    border-bottom: 3px solid $black;
    border-radius: 4em;
    
    background: $white;
    transform: translateZ(-3px);
  }

  &::after {left: initial; right: 22%;}
}

.head1, .head2, .head3, .head4, .head5 {@extend %head;}
.head2 {border-radius: 4em;}
.head3 {border-radius: 40%;}
.head4 {border-radius: 40% 40% 30% 30%;}
.head5 {border-radius: 40% 40% 20% 20%;}
// head end

// hair start
%hair {
  position: absolute;
	top: -2px;
  left: 50%;

  width: calc(107%);
  height: 40%;
  border-radius: 1.5em 1.5em 0 0;

  background: $black;
  transform: translateX(-50%);
  transform-style: preserve-3d;
}

.hair1, .hair2, .hair3, .hair4, .hair5 {@extend %hair;}

.hair1 {
  &::after {
    @include pseudo;
    top: 100%;
    
		background: linear-gradient(55deg, $black 0, transparent 0%, transparent 66%, $black 0%), linear-gradient(-55deg, transparent 33%, transparent 0%, transparent 66%, $black 0%);
		background-size: 20% 20%;
    background-repeat: repeat-X;
  }
}

.hair2 {
  height: 60%;
  border-radius: 1.5em 1.5em 3em 0;

  &::before {
    @include pseudo;
    bottom: 99%;
    left: 40%;
    width: 35%;

		background: linear-gradient(-25deg, $black 0, transparent 0, transparent 66%, $black 0);
		background-size: 35% 20%;
    background-repeat: repeat-x;

    transform: rotate(180deg) ;
  }

  &::after {
    @include pseudo;
    top: 99%;
    
		background: linear-gradient(-35deg, $black 0, transparent 0%, transparent 80%, $black 0%);
		background-size: 100px 100px;
    background-repeat: no-repeat;
  }
}


.hair3 {
  height: 50%;
  border-radius: 0 2em 2em 3em;
  transform: translateX(-50%) rotate(180deg);

  &::before {
    @include pseudo;
    bottom: 99%;
    width: 35%;

		background: linear-gradient(65deg, $black 0, transparent 0, transparent 66%, $black 0);
		background-size: 35% 90%;
    background-repeat: repeat-x;

    transform: rotate(180deg) ;
  }
}

.hair4 {
  height: 35%;
  border-radius: 2em 2em 0 0;

  &::before {
    @include pseudo;
    top: 99%;
    left: 23%;
    width: 45%;

		background: linear-gradient(55deg, $black 0, transparent 0, transparent 66%, $black 0);
		background-size: 32% 100%;
    background-repeat: repeat-x;
  }

  &::after {
    @include pseudo;
    top: 99%;
    right: 0;
    border-radius: 0 0 2.5em 0em;

		background: linear-gradient(35deg, $black 0, transparent 0%, transparent 66%, $black 0%), linear-gradient(-40deg, transparent 33%, transparent 0%, transparent 66%, $black 0%);
    background-size: 100% 100%;
    background-repeat: repeat-x;
  }
}

.hair5 {
  height: 55%;
  border-radius: 0 3em 2em 3em;

  &::before {
    @include pseudo;
    bottom: 99%;
    width: 40%;

		background: linear-gradient(70deg, $black 0, transparent 0, transparent 66%, $black 0);
		background-size: 35% 120%;
    background-repeat: repeat-x;
    transform: rotate(180deg) ;
  }

  &::after {
    @include pseudo;
    bottom: 90%;
    left: 40%;
    width: 11%;

		background: linear-gradient(-125deg, $black 0, transparent 0, transparent 33%, $black 0);
		background-size: 55% 23%;
    background-repeat: repeat-x;
    background-position: bottom left;
  }
}
// hair end

// eyes start
%eyes {
  position: absolute;
  top: 40%;
  height: 70%;
  width: 100%;
	z-index: -3;
}

.eyes1, .eyes2, .eyes3, .eyes4, .eyes5 {
  @extend %eyes;
}

.eyes1, .eyes2, .eyes3 {
  .left, .right {
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forward;
  }
}

.eyes1 .left,
.eyes1 .right {
  position: absolute;
  left: 12%;

	height: 40%;
  width: 40%;

  border: 1px solid $black;
	border-radius: 50%;
  background: $white;

  &::before {@include pupil; top: 70%;}
}

.eyes1 .right {left: initial; right: 12%;}

.eyes2 {top: 52%;}

.eyes2 .left,
.eyes2 .right {
  position: absolute;
  left: 17%;
  height: 23%;
  width: 28%;

  border: 1px solid $black;
  border-radius: 0em 1em 0em 1em;
  background: $white;

  &::before {
    @include pupil;
    top: 15%;
    left: 60%;
  
    height: 70%;
    width: 50%;
  
    border: 6px solid $black;
    border-top: 2px solid $black;
    border-left: 2px solid $black;
  }
}

.eyes2 .right {
  left: initial;
  right: 17%;
  border-radius: 1em 0em 1em 0em;
}


.eyes3 {top: 60%;}

.eyes3 .left,
.eyes3 .right {
  position: absolute;
  left: 25%;

  height: 10%;
  width: 20%;

  border: 1px solid $black;
  border-radius: 0 0 4em 4em;
  background: $white;

  &::before {
    @include pupil;
    top: 0;
    left: 60%;
    height: 80%;
    width: 30%;
    border-radius: 0 0 1em 1em;
  }
}

.eyes3 .right {left: initial; right: 25%;}

.eyes4 {top: 54%;}

.eyes4 .left,
.eyes4 .right {
  position: absolute;
  left: 16%;

  height: 30%;
  width: 30%;

  border-top: 3px solid $black;
  border-right: 3px solid $black;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 50%;

  transform: rotate(-45deg);
}

.eyes4 .right {left: initial; right: 16%;}


.eyes5 {top: 54%;}

.eyes5 .left,
.eyes5 .right {
  position: absolute;
  left: 16%;

  height: 15%;
  width: 30%;

  border-top: 1px solid transparent;
  border-right: 1px solid $black;
  border-bottom: 3px solid $black;
  border-left: 1px solid transparent;
  border-radius: 40%;
}

.eyes5 .right {left: initial; right: 16%;}
// eyes end

// mouth start
%mouth {
  position: absolute;
  top: 83%;
  left: 50%;
  
  height: 3%;
  width: 20%;
  border-radius: 1em;
  border: 1px solid $black;

  background: $black;
  transform: translateX(-50%);
}

.mouth1, .mouth2, .mouth3, .mouth4, .mouth5 {@extend %mouth;}

.mouth1 {
  height: 8%;
  border-radius: 0 0 4em 4em;
  background: darkred;
}

.mouth2 {
  top: 86%;

  border-top: 2px solid $black;
  border-left: 15px solid $black;
  border-right: 5px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 20%;

  background: none;
}

.mouth3 {
  top: 66%;
  height: 25%;
  width: 40%;

  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 3px solid $black;
  border-radius: 0 0 5em 5em;

  background: none;
}

.mouth4 {
  top: 82%;
  height: 13%;
  width: 40%;
  background: darkred;
}

.mouth5 {
  top: 85%;
  height: 7%;
  width: 10%;
  background: darkred;
}
// mouth end

%nose {
  position: absolute;
  top: 64%;
  left: 50%;

	height: 15%;
  width: 15%;

  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 3px solid $black;
  border-radius: 50%;

  transform: translateX(-50%);
}

.nose1, .nose2, .nose3, .nose4, .nose5 {@extend %nose;}

.nose1 {border-radius: 30%;}

.nose2 {
  top: 72%;
  border-top: 3px solid $black;
  border-bottom: 1px solid transparent;
}

.nose3 {
  top: 70%;
  height: 7%;
  width: 12%;

  border-right: 1px solid $black;
  border-left: 1px solid $black;
  border-bottom: 2px solid $black;
}

.nose4 {
  height: 14%;
  width: 10%;

  border-radius: 0 0 5px 0;
  border-right: 1px solid $black;
  border-bottom: 2px solid $black;

  transform: translateX(-50%) rotate(-20deg);
}

.nose5 {
  top: 63%;
  left: 52%;
  width: 10%;

  border: none;
  border-bottom: 2px solid $black;
  border-radius: 17%;

  &::after {
    @include pseudo;
    top: 83%;
    height: 15%;
    width: 100%;

    border: none;
    border-bottom: 1px solid $black;
    transform: rotate(40deg);
    transform-origin: right;
  }
}

%body {
  position: absolute;
  top: 86%;
  left: 50%;
  z-index: -4;

  height: 36%;
  border: 1px solid $black;
  border-bottom: 3px solid $black;

  transform: translateX(-50%) translateZ(-3px);
  transform-style: preserve-3d;
}

.body1, .body2, .body3, .body4, .body5 {@extend %body;}

.body1 {
  width: 50%;
  border-radius: 7em 7em 50% 50%;
  background: $color1;
}

.body2 {
  width: 85%;
  border-radius: 7em 7em 50% 50%;
  background: $color2;
}

.body3 {
  width: 20%;
  border-radius: 2em 2em 50% 50%;
  background: $color3;
}

.body4 {
  top: 96%;
  height: 27%;
  width: 60%;
  border-radius: 1em 1em 4em 4em;
  background: $color4;
}

.body5 {
  width: 60%;
  border-radius: 2em 7em 50% 20%;
  background: $grey;
}

@keyframes blink {
  0%, 3%, 100% {
    transform: scale(1);
  }
  1% {
    transform: translateY(20%) scaleY(0.1);
  }
}

