body {background: #333;}

.canvas {
	position: relative;
	margin: auto;
	height: 350px;
	width: 350px;
  z-index: -5;
  background: #000;
}

%head {
	position: absolute;
  top: 18%;
  left: 35%;
	height: 45%;
	width: 32%;
	border-radius: 40% 40% 50% 50%;
  background: tan;
}

.head1, .head2, .head3, .head4, .head5 {@extend %head;}

.head2 {
	position: absolute;
	border-radius: 20% 20% 40% 40%;
}


%hair {
  position: absolute;
	top: 0;
  left: 25%;
  
  border-right:  100px solid transparent;
  border-bottom: 120px  solid cornflowerblue;
  border-left:   100px solid transparent;
  
  z-index: -5;
  transform: translateX(-50%) rotate(185deg);
}

.hair1, .hair2, .hair3, .hair4, .hair5 {@extend %hair}

.hair1 .left,
.hair1 .right {
  position: absolute;
	top: 20%;
	left: 50%;
  height:0px;
  width:0px;
  
  border-right:  100px solid transparent;
  border-bottom: 120px  solid cornflowerblue;
  border-left:   100px solid transparent;
  
  z-index: 1;
  transform: translateX(calc(-50% + 3px));
}

.hair1 .right {
  transform: translate(calc(-60% - 3px), 1px) rotate(34deg) ;
}

.hair1 .left:before,
.hair1 .right:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -105px;

  border-right: 100px solid transparent;
  border-bottom: 120px solid cornflowerblue;
  border-left: 100px solid transparent;
  
  transform: rotate(45deg);
}

.hair1 .left:after,
.hair1 .right:after {
  content: '';
  position: absolute;
  top: 3px;
  left: -105px;

  border-right: 100px solid transparent;
  border-bottom: 120px solid cornflowerblue;
  border-left: 100px solid transparent;
  
  transform: rotate(90deg);
}

%eyes {
  position: absolute;
  top: 23%;
  width: 100%;
	z-index: 3;
}

.eyes1, .eyes2, .eyes3, .eyes4, .eyes5 {@extend %eyes}

.eyes1 .left,
.eyes1 .right {
  position: absolute;
	height: 40px;
  width: 40px;
  border: 1px solid #2a2a2a;
	border-radius: 50%;
	background: #fff;
  
  left: 16%;
}

.eyes1 .right {
  left: initial;
  right: 16%;
}

.eyes1 .left::before,
.eyes1 .right::before {
  content: '';
  position: absolute;
  top: 70%;
  left: 50%;
  height: 3px;
  width: 3px;
  background: #2a2a2a;
  transform: translateX(-50%);
}

.eyes2 .left,
.eyes2 .right {
  position: absolute;
	height: 30px;
  width: 30px;
  border: 5px solid #2a2a2a;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  left: 16%;
}

.eyes2 .right {
  left: initial;
  right: 16%;
}

%mouth {
  position: absolute;
  top: 74%;
  left: 50%;
	height: 10px;
  width: 36px;
  border: 1px solid #2a2a2a;
  border-radius: 50% 50% 40% 40%;
  background: darkred;
  transform: translateX(-50%);
}

.mouth1, .mouth2, .mouth3, .mouth4, .mouth5 {@extend %mouth}

%nose {
  position: absolute;
  top: 50%;
  left: 50%;
	height: 30px;
  width: 15px;
  border-top: 1px solid transparent;
  border-right: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  border-left: 1px solid #2a2a2a;
  border-radius: 50%;
  transform: translateX(-50%);
}

.nose1, .nose2, .nose3, .nose4, .nose5 {@extend %nose}

.nose2 {
  height: 15px;
  width: 15px;
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid transparent;
}