$buttonSize: 150px;
$buttonMargin: 3px;

.FeaturesSelection {
  position: relative;
  display: flex;
  width: ($buttonSize * 5 + $buttonMargin * 10);
  background: $color2;

  ul {
    position: absolute;
    top: -23px;
    left: 0;
    display: flex;
    background: $color2;
  }

  .featureButton {
    padding: 0;
    position: relative;
    flex: 0 0 $buttonSize;
    height: $buttonSize;
    margin: $buttonMargin;
    background: $white;

    .head {&::before, &::after {content: none;}}

    .hair {
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%) scale(0.6);

      &.hair2 {top: 40%; height: 80%;}
      &.hair3 {height: 71%; transform: translate(-50%, -50%) rotate(180deg) scale(0.6);}
      &.hair4 {top: 40%; height: 45%;}
      &.hair5 {top: 60%; height: 75%;}
    }

    .head {
      top: 50%;
      width: 50%;
      transform: translate(-50%, -50%) scale(1);
    }

    .eyes {
      top: 75%;
      left: 50%;
      z-index: 3;
      width: 70%;
      transform: translate(-50%, -50%) scale(1.2);

      .left, .right {animation: none;}
      &.eyes3 {top: 80%;}
    }


    .nose {
      top: 50%;
      transform: translateX(-50%) scale(2);

      &.nose1 {top: 30%;  height: 18%;}
      &.nose3 {width: 8%;}
      &.nose4 {top: 45%; transform: translateX(-50%) rotate(-30deg) scale(2);}
      &.nose5 {top: 35%; &::after {top: 84%;left: 5%;}}
    }

    .mouth {
      top: 50%;
      width: 13%;
      transform: translateX(-50%) scale(2);

      &.mouth3 {top: 25%;}
      &.mouth4 {width: 24%;}
      &.mouth5 {width: 7%;}
    }
    
    .body {
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%);
    }
  }
}