$buttonSize: 150px;
$buttonAmount: 5;
$buttonMargin: 3px;

.FeaturesSelection {
  position: relative;
  display: flex;
  width: ($buttonSize * 5 + $buttonMargin * 10);
  background: $color2;

  ul {
    position: absolute;
    top: -23px;
    left: 0;
    display: flex;
    background: $color2;
  }

  .featureButton {
    padding: 0;
    position: relative;
    flex: 0 0 $buttonSize;
    height: $buttonSize;
    margin: $buttonMargin;
    background: $white;

    .hair {
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%) scale(0.6);

      &.hair2 {top: 40%; height: 80%;}
      &.hair3 {height: 71%; transform: translate(-50%, -50%) rotate(180deg) scale(0.6);}
      &.hair4 {top: 40%; height: 45%;}
      &.hair5 {height: 75%;}
    }

    .head {
      top: 50%;
      transform: translate(-50%, -50%) scale(1.4);
    }

    .eyes {
      top: 30%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%) scale(1.2);
    }

    .eyes1 {

      .left {
        left: 24%;
      }
      
      .right {
        left: initial;
        right: 24%;
      }
    }

    .eyes2 {

      .left {
        left: 26%;
      }
      
      .right {
        left: initial;
        right: 26%;
      }
    }

    .nose {
      top: 50%;
      transform: translateX(-50%) scale(2);

      &.nose4 {transform: translateX(-50%) rotate(20deg) scale(2);}
    }

    .mouth {
      top: 50%;
      transform: translateX(-50%) scale(2);

      &.mouth3 {top: 25%;}
    }
    
    .body {
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%);
    }
  }
}