$buttonSize: 90px;
$buttonMargin: 3px;

.FeaturesSelection {
  position: relative;
  display: flex;

  width: ($buttonSize * 5 + $buttonMargin * 10);
  border: 1px solid darken($color1, 25%);
  border-radius: 0 1em;

  background: lighten($color1, 20%);
  box-shadow: 2px 2px 0px darken($color1, 25%);

  .featureButton {
    position: relative;
    flex: 0 0 $buttonSize;
    
    height: $buttonSize;
    padding: 0;
    border-radius: 1em;
    margin: $buttonMargin;
    margin-top: 10px;

    box-shadow: 1px 1px 0 transparent;
    transition: all .3s ease-in;

    &:hover{box-shadow: 2px 2px 0 darken($color1, 25%), -1px -1px 0 $white;}

    .head {&::before, &::after {content: none;}}

    .hair {
      top: 50%;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, -50%) scale(0.6);

      &.hair2 {top: 48%; height: 70%;}
      &.hair3 {height: 71%; transform: translate(-50%, -50%) rotate(180deg) scale(0.6);}
      &.hair4 {top: 40%; height: 45%;}
      &.hair5 {top: 60%; height: 75%;}
    }

    .head {
      top: 50%;
      width: 50%;
      transform: translate(-50%, -50%) scale(1);
    }

    .eyes {
      top: 75%;
      left: 50%;
      z-index: 3;
      width: 70%;
      transform: translate(-50%, -50%) scale(1.2);

      .left, .right {animation: none;}

      &.eyes2{
        .left, .right {
          &:before {
            border: 4px solid $black;
            border-top: 1px solid $black;
            border-left: 1px solid $black;
          }
        }
      }

      &.eyes3 {top: 80%;}
    }

    .nose {
      top: 50%;
      transform: translateX(-50%) scale(2);

      &.nose1 {top: 30%;  height: 18%;}
      &.nose3 {width: 8%;}
      &.nose4 {top: 45%; transform: translateX(-50%) rotate(-30deg) scale(2);}
      &.nose5 {top: 35%; &::after {top: 84%;left: 5%;}}
    }

    .mouth {
      top: 50%;
      width: 13%;
      transform: translateX(-50%) scale(2);

      &.mouth3 {top: 25%; width: 30%;}
      &.mouth4 {width: 24%;}
      &.mouth5 {width: 7%;}
    }
    
    .body {
      top: 50%;
      left: 50%;
      height: 45%;
      z-index: 3;
      transform: translate(-50%, -50%);

      &.body1 {width: 45%;}
      &.body2 {width: 73%;}
      &.body3 {width: 20%;}
      &.body4 {width: 65%;}
      &.body5 {width: 50%;}
    }
  }
} // FeaturesSelection

.featuresNav {
  position: absolute;
  bottom: 99%;
  left: -1px;
  display: flex;

  padding-top: 3px;
  padding-right: 10px;
  border-bottom: none;
  border-radius: 0 10px 0 0;
  
  li {
    border-left: 1px solid darken($color1, 25%);
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 2px -1px 0px darken($color1, 25%);
    background: $color1;
    @include cssShine;

    &:hover {border-left: 1px solid $white;}
  }

  button {
    @include fontSans(10, 700);
    padding: 4px 0;
    padding-right: 0;
    margin: 0 10px;
    
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}