html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.character {
  position: relative;
  margin: auto;
  height: 350px;
  width: 350px;
}

.head1, .head2, .head3, .head4, .head5 {
  position: absolute;
  top: 18%;
  left: 50%;
  height: 40%;
  width: 30%;
  border: 1px solid #2e2e2e;
  border-radius: 40% 40% 50% 50%;
  background: tan;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.head2 {
  border-radius: 4em;
}

.head3 {
  border-radius: 40%;
}

.head4 {
  border-radius: 40% 40% 30% 30%;
}

.head5 {
  border-radius: 40% 40% 20% 20%;
}

.hair1, .hair2, .hair3, .hair4, .hair5 {
  position: absolute;
  top: -2px;
  left: 50%;
  width: calc(100% + 8px);
  height: 40%;
  border-radius: 1.5em 1.5em 0 0;
  background: #2e2e2e;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.hair1::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 100%;
  background: linear-gradient(55deg, #2e2e2e 0, transparent 0%, transparent 66%, #2e2e2e 0%), linear-gradient(-55deg, transparent 33%, transparent 0%, transparent 66%, #2e2e2e 0%);
  background-size: 20px 20px;
  background-repeat: repeat-X;
}

.hair2 {
  height: 60%;
  border-radius: 1.5em 1.5em 3em 0;
}

.hair2::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 40%;
  width: 44px;
  background: linear-gradient(-25deg, #2e2e2e 0, transparent 0, transparent 66%, #2e2e2e 0);
  background-size: 15px 15px;
  background-repeat: repeat-x;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hair2::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 100%;
  background: linear-gradient(-35deg, #2e2e2e 0, transparent 0%, transparent 80%, #2e2e2e 0%);
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.hair3 {
  height: 50%;
  border-radius: 0 2em 2em 3em;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.hair3::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 100%;
  width: 45px;
  background: linear-gradient(65deg, #2e2e2e 0, transparent 0, transparent 66%, #2e2e2e 0);
  background-size: 15px 60px;
  background-repeat: repeat-x;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hair3::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 99%;
  right: 27px;
  width: 45px;
  background: linear-gradient(-45deg, transparent 33%, transparent 0%, transparent 66%, #2e2e2e 0%), linear-gradient(45deg, #2e2e2e 0, transparent 0%, transparent 66%, #2e2e2e 0%);
  background-size: 8px 6px;
  background-repeat: repeat-x;
}

.hair4 {
  height: 35%;
  border-radius: 2em 2em 0 0;
}

.hair4::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 23%;
  width: 45px;
  background: linear-gradient(55deg, #2e2e2e 0, transparent 0, transparent 66%, #2e2e2e 0);
  background-size: 15px 60px;
  background-repeat: repeat-x;
}

.hair4::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  border-radius: 0 0 2.5em 0em;
  background: linear-gradient(35deg, #2e2e2e 0, transparent 0%, transparent 66%, #2e2e2e 0%), linear-gradient(-40deg, transparent 33%, transparent 0%, transparent 66%, #2e2e2e 0%);
  background-size: 30 29px;
  background-repeat: repeat-x;
}

.hair5 {
  height: 55%;
  border-radius: 0 3em 2em 3em;
}

.hair5::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 100%;
  width: 45px;
  background: linear-gradient(70deg, #2e2e2e 0, transparent 0, transparent 66%, #2e2e2e 0);
  background-size: 15px 80px;
  background-repeat: repeat-x;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hair5::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 90%;
  left: 45px;
  width: 13px;
  background: linear-gradient(-125deg, #2e2e2e 0, transparent 0, transparent 33%, #2e2e2e 0);
  background-size: 7px 18px;
  background-repeat: repeat-x;
  background-position: bottom left;
}

.eyes1, .eyes2, .eyes3, .eyes4, .eyes5 {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: -3;
}

.eyes1 .left,
.eyes1 .right {
  position: absolute;
  left: 12%;
  height: 40px;
  width: 40px;
  border: 1px solid #2e2e2e;
  border-radius: 50%;
  background: #f6f6f6;
}

.eyes1 .left::before,
.eyes1 .right::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 3px solid #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  background: #f6f6f6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 70%;
}

.eyes1 .right {
  left: initial;
  right: 12%;
}

.eyes2 {
  top: 52%;
}

.eyes2 .left,
.eyes2 .right {
  position: absolute;
  left: 16%;
  height: 23px;
  width: 28px;
  border: 1px solid #2e2e2e;
  border-radius: 0em 4em 0em 4em;
  background: #f6f6f6;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.eyes2 .left::before,
.eyes2 .right::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 3px solid #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  background: #f6f6f6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 22%;
  left: 30%;
  height: 15px;
  width: 15px;
  border: 8px solid #2e2e2e;
  border-top: 4px solid #2e2e2e;
  border-left: 4px solid #2e2e2e;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.eyes2 .right {
  left: initial;
  right: 16%;
  border-radius: 4em 0em 4em 0em;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.eyes2 .right::before {
  top: 7%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.eyes3 {
  top: 60%;
}

.eyes3 .left,
.eyes3 .right {
  position: absolute;
  left: 25%;
  height: 10px;
  width: 20px;
  border: 1px solid #2e2e2e;
  border-radius: 0 0 4em 4em;
  background: #f6f6f6;
}

.eyes3 .left::before,
.eyes3 .right::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 3px solid #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  background: #f6f6f6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  left: 60%;
  height: 6px;
  width: 5px;
  border-radius: 0 0 1em 1em;
}

.eyes3 .right {
  left: initial;
  right: 25%;
}

.eyes4 {
  top: 54%;
}

.eyes4 .left,
.eyes4 .right {
  position: absolute;
  left: 16%;
  height: 30px;
  width: 30px;
  border-top: 3px solid #2e2e2e;
  border-right: 3px solid #2e2e2e;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.eyes4 .right {
  left: initial;
  right: 16%;
}

.eyes5 {
  top: 54%;
}

.eyes5 .left,
.eyes5 .right {
  position: absolute;
  left: 16%;
  height: 15px;
  width: 30px;
  border-top: 1px solid transparent;
  border-right: 1px solid #2e2e2e;
  border-bottom: 3px solid #2e2e2e;
  border-left: 1px solid transparent;
  border-radius: 40%;
}

.eyes5 .right {
  left: initial;
  right: 16%;
}

.mouth1, .mouth2, .mouth3, .mouth4, .mouth5 {
  position: absolute;
  top: 83%;
  left: 50%;
  height: 3px;
  width: 20px;
  border-radius: 1em;
  border: 1px solid #2e2e2e;
  background: #2e2e2e;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouth1 {
  height: 10px;
  border-radius: 0 0 4em 4em;
  background: darkred;
}

.mouth2 {
  top: 86%;
  border-top: 2px solid #2e2e2e;
  border-left: 15px solid #2e2e2e;
  border-right: 5px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 20%;
  background: none;
}

.mouth3 {
  top: 66%;
  height: 35px;
  width: 40px;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 3px solid #2e2e2e;
  border-radius: 0 0 5em 5em;
  background: none;
}

.mouth4 {
  top: 82%;
  height: 15px;
  background: darkred;
}

.mouth5 {
  top: 85%;
  height: 10px;
  width: 10px;
  background: darkred;
}

.nose1, .nose2, .nose3, .nose4, .nose5 {
  position: absolute;
  top: 67%;
  left: 50%;
  height: 15px;
  width: 15px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 3px solid #2e2e2e;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nose2 {
  top: 72%;
  border-top: 3px solid #2e2e2e;
  border-bottom: 1px solid transparent;
}

.nose3 {
  top: 70%;
  height: 10px;
  width: 15px;
  border-right: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  border-bottom: 2px solid #2e2e2e;
}

.nose4 {
  height: 18px;
  width: 10px;
  border-radius: 0 0 0 5px;
  border-left: 1px solid #2e2e2e;
  border-bottom: 2px solid #2e2e2e;
  -webkit-transform: translateX(-50%) rotate(20deg);
          transform: translateX(-50%) rotate(20deg);
}

.nose5 {
  width: 14px;
  left: 45%;
  border: none;
  border-bottom: 2px solid #2e2e2e;
  border-radius: 17%;
}

.nose5::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  height: 15px;
  width: 13px;
  border: none;
  border-bottom: 1px solid #2e2e2e;
  -webkit-transform: translate(30%, 40%) rotate(140deg);
          transform: translate(30%, 40%) rotate(140deg);
}

.body1, .body2, .body3, .body4, .body5, .body1::after {
  position: absolute;
  bottom: -20%;
  left: 50%;
  z-index: -4;
  height: 0;
  width: 60px;
  border-bottom: 50px solid #FF5964;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 0 0 2% 2%;
  -webkit-transform: translateX(-50%) translateZ(-3px);
          transform: translateX(-50%) translateZ(-3px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.body1::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  width: 64px;
  border-bottom: 52px solid #2e2e2e;
  -webkit-transform: translateX(-50%) translateZ(-3px);
          transform: translateX(-50%) translateZ(-3px);
}

.FeaturesSelection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 780px;
  background: #FFE066;
}

.FeaturesSelection ul {
  position: absolute;
  top: -23px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFE066;
}

.FeaturesSelection .featureButton {
  padding: 0;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  height: 150px;
  margin: 3px;
  background: #f6f6f6;
}

.FeaturesSelection .featureButton .hair {
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.FeaturesSelection .featureButton .hair.hair2 {
  top: 40%;
  height: 80%;
}

.FeaturesSelection .featureButton .hair.hair3 {
  height: 71%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0.6);
          transform: translate(-50%, -50%) rotate(180deg) scale(0.6);
}

.FeaturesSelection .featureButton .hair.hair4 {
  top: 40%;
  height: 45%;
}

.FeaturesSelection .featureButton .hair.hair5 {
  height: 75%;
}

.FeaturesSelection .featureButton .head {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.4);
          transform: translate(-50%, -50%) scale(1.4);
}

.FeaturesSelection .featureButton .eyes {
  top: 30%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.FeaturesSelection .featureButton .eyes1 .left {
  left: 23%;
}

.FeaturesSelection .featureButton .eyes1 .right {
  right: 23%;
}

.FeaturesSelection .featureButton .eyes2, .FeaturesSelection .featureButton .eyes4, .FeaturesSelection .featureButton .eyes5 {
  top: 35%;
}

.FeaturesSelection .featureButton .eyes2 .left, .FeaturesSelection .featureButton .eyes4 .left, .FeaturesSelection .featureButton .eyes5 .left {
  left: 25%;
}

.FeaturesSelection .featureButton .eyes2 .right, .FeaturesSelection .featureButton .eyes4 .right, .FeaturesSelection .featureButton .eyes5 .right {
  right: 25%;
}

.FeaturesSelection .featureButton .eyes3 {
  top: 40%;
}

.FeaturesSelection .featureButton .eyes3 .left {
  left: 32%;
}

.FeaturesSelection .featureButton .eyes3 .right {
  right: 32%;
}

.FeaturesSelection .featureButton .nose {
  top: 50%;
  -webkit-transform: translateX(-50%) scale(2);
          transform: translateX(-50%) scale(2);
}

.FeaturesSelection .featureButton .nose.nose4 {
  -webkit-transform: translateX(-50%) rotate(20deg) scale(2);
          transform: translateX(-50%) rotate(20deg) scale(2);
}

.FeaturesSelection .featureButton .mouth {
  top: 50%;
  -webkit-transform: translateX(-50%) scale(2);
          transform: translateX(-50%) scale(2);
}

.FeaturesSelection .featureButton .mouth.mouth3 {
  top: 25%;
}

.FeaturesSelection .featureButton .body {
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
