html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background: #333;
}

.canvas {
  position: relative;
  margin: auto;
  height: 350px;
  width: 350px;
  z-index: -5;
}

.head {
  position: absolute;
  top: 35%;
  left: 29%;
  height: 45%;
  width: 32%;
  border-radius: 40% 40% 50% 50%;
  background: tan;
}

.head2 {
  position: absolute;
  top: 35%;
  left: 29%;
  height: 45%;
  width: 32%;
  border-radius: 40% 40% 50% 50%;
  background: black;
}

.hair {
  position: absolute;
  top: 0;
  left: 25%;
  border-right: 100px solid transparent;
  border-bottom: 120px  solid cornflowerblue;
  border-left: 100px solid transparent;
  z-index: -1;
  -webkit-transform: translateX(-50%) rotate(185deg);
          transform: translateX(-50%) rotate(185deg);
}

.hair .left,
.hair .right {
  position: absolute;
  top: 20%;
  left: 50%;
  height: 0px;
  width: 0px;
  border-right: 100px solid transparent;
  border-bottom: 120px  solid cornflowerblue;
  border-left: 100px solid transparent;
  z-index: 1;
  -webkit-transform: translateX(calc(-50% + 3px));
          transform: translateX(calc(-50% + 3px));
}

.hair .right {
  -webkit-transform: translate(calc(-60% - 3px), 1px) rotate(34deg);
          transform: translate(calc(-60% - 3px), 1px) rotate(34deg);
}

.hair .left:before,
.hair .right:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -105px;
  border-right: 100px solid transparent;
  border-bottom: 120px solid cornflowerblue;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hair .left:after,
.hair .right:after {
  content: '';
  position: absolute;
  top: 3px;
  left: -105px;
  border-right: 100px solid transparent;
  border-bottom: 120px solid cornflowerblue;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.eyes1 .left,
.eyes1 .right, .eyes2 .left,
.eyes2 .right {
  position: absolute;
  top: 23%;
  width: 100%;
  z-index: 3;
}

.eyes1 .left,
.eyes1 .right {
  position: absolute;
  height: 40px;
  width: 40px;
  border: 1px solid #2a2a2a;
  border-radius: 50%;
  background: #fff;
  left: 16%;
}

.eyes1 .right {
  left: initial;
  right: 16%;
}

.eyes1 .left::before,
.eyes1 .right::before {
  content: '';
  position: absolute;
  top: 70%;
  left: 50%;
  height: 3px;
  width: 3px;
  background: #2a2a2a;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.eyes2 .left,
.eyes2 .right {
  height: 30px;
  width: 30px;
  border: 5px solid #2a2a2a;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 16%;
}

.eyes2 .right {
  left: initial;
  right: 16%;
}

.mouth {
  position: absolute;
  top: 74%;
  left: 50%;
  height: 10px;
  width: 36px;
  border: 1px solid #2a2a2a;
  border-radius: 50% 50% 40% 40%;
  background: darkred;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nose {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 15px;
  border-top: 1px solid transparent;
  border-right: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  border-left: 1px solid #2a2a2a;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.SelectionEyes {
  /* grid-auto-flow: column; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 780px;
  background: #FFE066;
}

.SelectionEyes .eyesButton {
  padding: 0;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  height: 150px;
  margin: 3px;
  background: #38618C;
}

.SelectionEyes .eyesButton .eyes1 .left {
  left: 24%;
}

.SelectionEyes .eyesButton .eyes1 .right {
  left: initial;
  right: 24%;
}

.SelectionEyes .eyesButton .eyes2 .left {
  left: 24%;
}

.SelectionEyes .eyesButton .eyes2 .right {
  left: initial;
  right: 24%;
}
