@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Krub&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background: #68bdff;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.charCreation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  padding: 30px;
  border: 2px solid #38618C;
  border-radius: 0 2em;
  margin-top: 15px;
  background: #f6f6f6;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 5px 5px 0px #38618C;
          box-shadow: 5px 5px 0px #38618C;
}

.grass {
  position: absolute;
  top: 48%;
  left: 1.5%;
  height: 30px;
  width: 97%;
  border-bottom: 2px solid #92e818;
  background: linear-gradient(115deg, #afe06a 0, transparent 0%, transparent 76%, #afe06a 0%), linear-gradient(-115deg, transparent 33%, transparent 0%, transparent 76%, #afe06a 0%);
  background-size: 30px 30px;
  background-repeat: repeat-X;
  background-position: bottom;
}

.grass::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(125deg, #bef175 0, transparent 0%, transparent 66%, #bef175 0%), linear-gradient(-125deg, transparent 33%, transparent 0%, transparent 66%, #bef175 0%);
  background-size: 20px 20px;
  background-repeat: repeat-X;
  background-position: bottom;
  -webkit-animation-name: grass;
          animation-name: grass;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
}

.charCreation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin: 15px auto;
  margin-bottom: 50px;
  border-bottom: 1px solid #35A7FF;
}

.charCreation form label, .charCreation form button {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Delius Unicase', cursive;
  font-weight: 400;
  color: #2e2e2e;
}

.charCreation form input {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: 700;
  color: #2e2e2e;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 30%;
  margin: 0 5px;
  border: 0;
  background: none;
  -webkit-box-shadow: 0px 3px 0 transparent;
          box-shadow: 0px 3px 0 transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.charCreation form ::-webkit-input-placeholder {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  color: #2e2e2e;
  text-transform: uppercase;
}

.charCreation form :-ms-input-placeholder {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  color: #2e2e2e;
  text-transform: uppercase;
}

.charCreation form ::-ms-input-placeholder {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  color: #2e2e2e;
  text-transform: uppercase;
}

.charCreation form ::placeholder {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  color: #2e2e2e;
  text-transform: uppercase;
}

.charCreation form button {
  padding: 0 4px;
  border: 1px solid #35A7FF;
  border-radius: 1em;
  background: #35A7FF;
  color: #f6f6f6;
  -webkit-box-shadow: 1px 1px 0px #38618C;
          box-shadow: 1px 1px 0px #38618C;
  background-repeat: no-repeat;
  background-position: 100% 100%, 0 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0) 50%);
  background-size: 250% 250%, 100% 100%;
  -webkit-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.charCreation form button:hover {
  background-position: 0 0, 0 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.charCreation form button:hover {
  border: 1px solid #f6f6f6;
}

.charCreation form input:focus {
  -webkit-box-shadow: 0px 2px 0 #38618C;
          box-shadow: 0px 2px 0 #38618C;
}

@-webkit-keyframes grass {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    width: calc(100% - 3px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: translateX(5px) scaleY(0.9);
            transform: translateX(5px) scaleY(0.9);
  }
}

@keyframes grass {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    width: calc(100% - 3px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: translateX(5px) scaleY(0.9);
            transform: translateX(5px) scaleY(0.9);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Delius Unicase', cursive;
  font-weight: 400;
  color: #2e2e2e;
  width: 100%;
  border: 2px solid #38618C;
  border-radius: 0 1em;
  margin-top: 15px;
  background: #f6f6f6;
  text-align: center;
  -webkit-box-shadow: 5px 5px 0px #38618C;
          box-shadow: 5px 5px 0px #38618C;
}

header h1 {
  color: #35A7FF;
  margin: 15px auto;
  text-shadow: 1px 1px 1px #2e2e2e;
}

.character {
  position: relative;
  margin: auto;
  height: 260px;
  width: 140px;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

.head1, .head2, .head3, .head4, .head5 {
  position: absolute;
  top: 25%;
  left: 50%;
  height: 56%;
  width: 78%;
  border: 1px solid #2e2e2e;
  border-radius: 40% 40% 50% 50%;
  background: tan;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.head1::before, .head2::before, .head3::before, .head4::before, .head5::before, .head1::after, .head2::after, .head3::after, .head4::after, .head5::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 122%;
  left: 22%;
  height: 9%;
  width: 28%;
  border: 1px solid #2e2e2e;
  border-bottom: 3px solid #2e2e2e;
  border-radius: 4em;
  background: #f6f6f6;
  -webkit-transform: translateZ(-3px);
          transform: translateZ(-3px);
}

.head1::after, .head2::after, .head3::after, .head4::after, .head5::after {
  left: initial;
  right: 22%;
}

.head2 {
  border-radius: 4em;
}

.head3 {
  border-radius: 40%;
}

.head4 {
  border-radius: 40% 40% 30% 30%;
}

.head5 {
  border-radius: 40% 40% 20% 20%;
}

.hair1, .hair2, .hair3, .hair4, .hair5 {
  position: absolute;
  top: -2px;
  left: 50%;
  width: calc(107%);
  height: 40%;
  border-radius: 1.5em 1.5em 0 0;
  background: #2e2e2e;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.hair1::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 100%;
  background: linear-gradient(55deg, #2e2e2e 0, transparent 0%, transparent 66%, #2e2e2e 0%), linear-gradient(-55deg, transparent 33%, transparent 0%, transparent 66%, #2e2e2e 0%);
  background-size: 20% 20%;
  background-repeat: repeat-X;
}

.hair2 {
  height: 60%;
  border-radius: 1.5em 1.5em 3em 0;
}

.hair2::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 99%;
  left: 40%;
  width: 35%;
  background: linear-gradient(-25deg, #2e2e2e 0, transparent 0, transparent 66%, #2e2e2e 0);
  background-size: 35% 20%;
  background-repeat: repeat-x;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hair2::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 99%;
  background: linear-gradient(-35deg, #2e2e2e 0, transparent 0%, transparent 80%, #2e2e2e 0%);
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.hair3 {
  height: 50%;
  border-radius: 0 2em 2em 3em;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.hair3::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 99%;
  width: 35%;
  background: linear-gradient(65deg, #2e2e2e 0, transparent 0, transparent 66%, #2e2e2e 0);
  background-size: 35% 90%;
  background-repeat: repeat-x;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hair4 {
  height: 35%;
  border-radius: 2em 2em 0 0;
}

.hair4::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 99%;
  left: 23%;
  width: 45%;
  background: linear-gradient(55deg, #2e2e2e 0, transparent 0, transparent 66%, #2e2e2e 0);
  background-size: 32% 100%;
  background-repeat: repeat-x;
}

.hair4::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 98%;
  right: 0;
  border-radius: 0 0 2.5em 0em;
  background: linear-gradient(35deg, #2e2e2e 0, transparent 0%, transparent 66%, #2e2e2e 0%), linear-gradient(-40deg, transparent 33%, transparent 0%, transparent 66%, #2e2e2e 0%);
  background-size: 100% 100%;
  background-repeat: repeat-x;
}

.hair5 {
  height: 55%;
  border-radius: 0 3em 2em 3em;
}

.hair5::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 99%;
  width: 40%;
  background: linear-gradient(70deg, #2e2e2e 0, transparent 0, transparent 66%, #2e2e2e 0);
  background-size: 35% 120%;
  background-repeat: repeat-x;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hair5::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  bottom: 90%;
  left: 40%;
  width: 11%;
  background: linear-gradient(-125deg, #2e2e2e 0, transparent 0, transparent 33%, #2e2e2e 0);
  background-size: 55% 23%;
  background-repeat: repeat-x;
  background-position: bottom left;
}

.eyes1, .eyes2, .eyes3, .eyes4, .eyes5 {
  position: absolute;
  top: 40%;
  height: 70%;
  width: 100%;
  z-index: -3;
}

.eyes1 .left, .eyes1 .right, .eyes2 .left, .eyes2 .right, .eyes3 .left, .eyes3 .right {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
}

.eyes1 .left,
.eyes1 .right {
  position: absolute;
  left: 12%;
  height: 40%;
  width: 40%;
  border: 1px solid #2e2e2e;
  border-radius: 50%;
  background: #f6f6f6;
}

.eyes1 .left::before,
.eyes1 .right::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 3px solid #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  background: #f6f6f6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 70%;
}

.eyes1 .right {
  left: initial;
  right: 12%;
}

.eyes2 {
  top: 52%;
}

.eyes2 .left,
.eyes2 .right {
  position: absolute;
  left: 17%;
  height: 23%;
  width: 28%;
  border: 1px solid #2e2e2e;
  border-radius: 0em 1em 0em 1em;
  background: #f6f6f6;
}

.eyes2 .left::before,
.eyes2 .right::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 3px solid #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  background: #f6f6f6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 15%;
  left: 60%;
  height: 70%;
  width: 50%;
  border: 6px solid #2e2e2e;
  border-top: 2px solid #2e2e2e;
  border-left: 2px solid #2e2e2e;
}

.eyes2 .right {
  left: initial;
  right: 17%;
  border-radius: 1em 0em 1em 0em;
}

.eyes3 {
  top: 60%;
}

.eyes3 .left,
.eyes3 .right {
  position: absolute;
  left: 25%;
  height: 10%;
  width: 20%;
  border: 1px solid #2e2e2e;
  border-radius: 0 0 4em 4em;
  background: #f6f6f6;
}

.eyes3 .left::before,
.eyes3 .right::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 3px solid #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  background: #f6f6f6;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  left: 60%;
  height: 80%;
  width: 30%;
  border-radius: 0 0 1em 1em;
}

.eyes3 .right {
  left: initial;
  right: 25%;
}

.eyes4 {
  top: 54%;
}

.eyes4 .left,
.eyes4 .right {
  position: absolute;
  left: 16%;
  height: 30%;
  width: 30%;
  border-top: 3px solid #2e2e2e;
  border-right: 3px solid #2e2e2e;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.eyes4 .right {
  left: initial;
  right: 16%;
}

.eyes5 {
  top: 54%;
}

.eyes5 .left,
.eyes5 .right {
  position: absolute;
  left: 16%;
  height: 15%;
  width: 30%;
  border-top: 1px solid transparent;
  border-right: 1px solid #2e2e2e;
  border-bottom: 3px solid #2e2e2e;
  border-left: 1px solid transparent;
  border-radius: 40%;
}

.eyes5 .right {
  left: initial;
  right: 16%;
}

.mouth1, .mouth2, .mouth3, .mouth4, .mouth5 {
  position: absolute;
  top: 83%;
  left: 50%;
  height: 3%;
  width: 20%;
  border-radius: 1em;
  border: 1px solid #2e2e2e;
  background: #2e2e2e;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouth1 {
  height: 8%;
  border-radius: 0 0 4em 4em;
  background: darkred;
}

.mouth2 {
  top: 86%;
  border-top: 2px solid #2e2e2e;
  border-left: 15px solid #2e2e2e;
  border-right: 5px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 20%;
  background: none;
}

.mouth3 {
  top: 66%;
  height: 25%;
  width: 40%;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 3px solid #2e2e2e;
  border-radius: 0 0 5em 5em;
  background: none;
}

.mouth4 {
  top: 82%;
  height: 13%;
  width: 40%;
  background: darkred;
}

.mouth5 {
  top: 85%;
  height: 7%;
  width: 10%;
  background: darkred;
}

.nose1, .nose2, .nose3, .nose4, .nose5 {
  position: absolute;
  top: 64%;
  left: 50%;
  height: 15%;
  width: 15%;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 3px solid #2e2e2e;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nose1 {
  border-radius: 30%;
}

.nose2 {
  top: 72%;
  border-top: 3px solid #2e2e2e;
  border-bottom: 1px solid transparent;
}

.nose3 {
  top: 70%;
  height: 7%;
  width: 12%;
  border-right: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  border-bottom: 2px solid #2e2e2e;
}

.nose4 {
  height: 14%;
  width: 10%;
  border-radius: 0 0 5px 0;
  border-right: 1px solid #2e2e2e;
  border-bottom: 2px solid #2e2e2e;
  -webkit-transform: translateX(-50%) rotate(-20deg);
          transform: translateX(-50%) rotate(-20deg);
}

.nose5 {
  top: 63%;
  left: 52%;
  width: 10%;
  border: none;
  border-bottom: 2px solid #2e2e2e;
  border-radius: 17%;
}

.nose5::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 83%;
  height: 15%;
  width: 100%;
  border: none;
  border-bottom: 1px solid #2e2e2e;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.body1, .body2, .body3, .body4, .body5 {
  position: absolute;
  top: 86%;
  left: 50%;
  z-index: -4;
  height: 36%;
  border: 1px solid #2e2e2e;
  border-bottom: 3px solid #2e2e2e;
  -webkit-transform: translateX(-50%) translateZ(-3px);
          transform: translateX(-50%) translateZ(-3px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.body1 {
  width: 50%;
  border-radius: 7em 7em 50% 50%;
  background: #C0FF33;
}

.body2 {
  width: 85%;
  border-radius: 7em 7em 50% 50%;
  background: #FFE066;
}

.body3 {
  width: 20%;
  border-radius: 2em 2em 50% 50%;
  background: #38618C;
}

.body4 {
  top: 96%;
  height: 27%;
  width: 60%;
  border-radius: 1em 1em 4em 4em;
  background: #35A7FF;
}

.body5 {
  width: 60%;
  border-radius: 2em 7em 50% 20%;
  background: #ccc;
}

@-webkit-keyframes blink {
  0%, 3%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1% {
    -webkit-transform: translateY(20%) scaleY(0.1);
            transform: translateY(20%) scaleY(0.1);
  }
}

@keyframes blink {
  0%, 3%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1% {
    -webkit-transform: translateY(20%) scaleY(0.1);
            transform: translateY(20%) scaleY(0.1);
  }
}

.FeaturesSelection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  border: 1px solid #7bb300;
  border-radius: 0 1em;
  background: #e0ff99;
  -webkit-box-shadow: 2px 2px 0px #7bb300;
          box-shadow: 2px 2px 0px #7bb300;
}

.FeaturesSelection .featureButton {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  height: 90px;
  padding: 0;
  border-radius: 1em;
  margin: 3px;
  margin-top: 10px;
  -webkit-box-shadow: 1px 1px 0 transparent;
          box-shadow: 1px 1px 0 transparent;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.FeaturesSelection .featureButton:hover {
  -webkit-box-shadow: 2px 2px 0 #7bb300, -1px -1px 0 #f6f6f6;
          box-shadow: 2px 2px 0 #7bb300, -1px -1px 0 #f6f6f6;
}

.FeaturesSelection .featureButton .head::before, .FeaturesSelection .featureButton .head::after {
  content: none;
}

.FeaturesSelection .featureButton .hair {
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.FeaturesSelection .featureButton .hair.hair2 {
  top: 48%;
  height: 70%;
}

.FeaturesSelection .featureButton .hair.hair3 {
  height: 71%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(0.6);
          transform: translate(-50%, -50%) rotate(180deg) scale(0.6);
}

.FeaturesSelection .featureButton .hair.hair4 {
  top: 40%;
  height: 45%;
}

.FeaturesSelection .featureButton .hair.hair5 {
  top: 60%;
  height: 75%;
}

.FeaturesSelection .featureButton .head {
  top: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.FeaturesSelection .featureButton .eyes {
  top: 75%;
  left: 50%;
  z-index: 3;
  width: 70%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.FeaturesSelection .featureButton .eyes .left, .FeaturesSelection .featureButton .eyes .right {
  -webkit-animation: none;
          animation: none;
}

.FeaturesSelection .featureButton .eyes.eyes2 .left:before, .FeaturesSelection .featureButton .eyes.eyes2 .right:before {
  border: 4px solid #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
}

.FeaturesSelection .featureButton .eyes.eyes3 {
  top: 80%;
}

.FeaturesSelection .featureButton .nose {
  top: 50%;
  -webkit-transform: translateX(-50%) scale(2);
          transform: translateX(-50%) scale(2);
}

.FeaturesSelection .featureButton .nose.nose1 {
  top: 30%;
  height: 18%;
}

.FeaturesSelection .featureButton .nose.nose3 {
  width: 8%;
}

.FeaturesSelection .featureButton .nose.nose4 {
  top: 45%;
  -webkit-transform: translateX(-50%) rotate(-30deg) scale(2);
          transform: translateX(-50%) rotate(-30deg) scale(2);
}

.FeaturesSelection .featureButton .nose.nose5 {
  top: 35%;
}

.FeaturesSelection .featureButton .nose.nose5::after {
  top: 84%;
  left: 5%;
}

.FeaturesSelection .featureButton .mouth {
  top: 50%;
  width: 13%;
  -webkit-transform: translateX(-50%) scale(2);
          transform: translateX(-50%) scale(2);
}

.FeaturesSelection .featureButton .mouth.mouth3 {
  top: 25%;
  width: 30%;
}

.FeaturesSelection .featureButton .mouth.mouth4 {
  width: 24%;
}

.FeaturesSelection .featureButton .mouth.mouth5 {
  width: 7%;
}

.FeaturesSelection .featureButton .body {
  top: 50%;
  left: 50%;
  height: 45%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.FeaturesSelection .featureButton .body.body1 {
  width: 45%;
}

.FeaturesSelection .featureButton .body.body2 {
  width: 73%;
}

.FeaturesSelection .featureButton .body.body3 {
  width: 20%;
}

.FeaturesSelection .featureButton .body.body4 {
  width: 65%;
}

.FeaturesSelection .featureButton .body.body5 {
  width: 50%;
}

.featuresNav {
  position: absolute;
  bottom: 99%;
  left: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3px;
  padding-right: 10px;
  border-bottom: none;
  border-radius: 0 10px 0 0;
}

.featuresNav li {
  border-left: 1px solid #7bb300;
  border-radius: 0.5em 0.5em 0 0;
  -webkit-box-shadow: 2px -1px 0px #7bb300;
          box-shadow: 2px -1px 0px #7bb300;
  background: #C0FF33;
  background-repeat: no-repeat;
  background-position: 100% 100%, 0 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0) 50%);
  background-size: 250% 250%, 100% 100%;
  -webkit-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.featuresNav li:hover {
  background-position: 0 0, 0 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.featuresNav li:hover {
  border-left: 1px solid #f6f6f6;
}

.featuresNav button {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: 700;
  color: #2e2e2e;
  padding: 4px 0;
  padding-right: 0;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.CharacterCards {
  width: calc(100% + 5px);
  /* ----------------------------------------------
  * Generated by Animista on 2020-5-2 16:10:24
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
  /**
  * ----------------------------------------
  * animation rotate-diagonal-1
  * ----------------------------------------
  */
}

.CharacterCards .character {
  height: 195px;
  width: 105px;
  margin-bottom: 30px;
}

.CharacterCards .eyes1 .left, .CharacterCards .eyes1 .right, .CharacterCards .eyes2 .left, .CharacterCards .eyes2 .right, .CharacterCards .eyes3 .left, .CharacterCards .eyes3 .right {
  -webkit-animation-name: none;
          animation-name: none;
}

.CharacterCards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.CharacterCards li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 25px;
  border: 1px solid #38618C;
  margin: 5px;
  border-radius: 0 2em;
  background: #b5dfff;
  -webkit-box-shadow: 3px 3px 0px #38618C;
          box-shadow: 3px 3px 0px #38618C;
  background-repeat: no-repeat;
  background-position: 100% 100%, 0 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0) 50%);
  background-size: 250% 250%, 100% 100%;
  -webkit-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.CharacterCards li:hover {
  background-position: 0 0, 0 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.CharacterCards li::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  width: 1px;
  top: 10px;
  height: calc(100% - 20px);
  background: #38618C;
}

.CharacterCards li:hover {
  border: 1px solid #f6f6f6;
}

.CharacterCards .xMark {
  position: absolute;
  top: 10px;
  right: 10px;
}

.CharacterCards h3 {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  color: #2e2e2e;
  position: absolute;
  left: 15px;
  bottom: 5px;
  margin: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.CharacterCards .rotate-diagonal-1 {
  -webkit-animation: rotate-diagonal-1 0.4s linear both;
          animation: rotate-diagonal-1 0.4s linear both;
}

@-webkit-keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
            transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
            transform: rotate3d(1, 1, 0, -360deg);
  }
}

@keyframes rotate-diagonal-1 {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotate3d(1, 1, 0, -180deg);
            transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, -360deg);
            transform: rotate3d(1, 1, 0, -360deg);
  }
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  background: #38618C;
}

footer a, footer p {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  color: #f6f6f6;
  padding: 5px 0;
  margin: 0;
  text-align: center;
}

footer a {
  color: #C0FF33;
  text-decoration: none;
}

footer a:focus {
  outline: 5px solid #35A7FF;
}

@media (max-width: 900px) {
  .charCreation form {
    width: 60%;
  }
}

@media (max-width: 690px) {
  .wrapper {
    width: 95%;
  }
  .grass {
    top: 57%;
  }
  .charCreation {
    position: relative;
    height: 575px;
    padding-left: 200px;
  }
  .charCreation .character {
    margin: 0;
    margin-bottom: 30px;
  }
  .charCreation form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    border: 0;
    margin: 0;
  }
  .charCreation form input {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .charCreation form input, .charCreation form label {
    margin-bottom: 5px;
  }
  .charCreation form label {
    border-bottom: 1px solid #35A7FF;
  }
  .charCreation form button {
    display: block;
  }
  .FeaturesSelection {
    position: absolute;
    top: calc(100% - 20px);
    left: 40px;
    border-radius: 0 0 1em 0;
    -webkit-box-shadow: -2px 2px 0px #7bb300;
            box-shadow: -2px 2px 0px #7bb300;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .FeaturesSelection .featureButton {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (max-width: 374px) {
  .FeaturesSelection {
    left: 30px;
  }
  .charCreation {
    padding: 0;
    padding-right: 5px;
  }
  .charCreation .character, .charCreation form {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
